body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
}

header {
  background: #4e9ef3d5;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nav-list a {
  color: aqua;
  text-align: center;
}
@media (max-width: 768px) {
  header {
    display: block;
    display: flow-root;
  }
}
#section-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.w3schools.com/howto/photographer.jpg");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div h2 {
  text-align: center;
  margin-top: 20px;
  color: orange;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
  size: 50%;
}

.gallery-container hr {
  color: #55555548;
}

.gallery-item {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .gallery-item {
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.product {
  align-items: center;
  gap: 15px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 400px;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 3/ 1;
}

.product-info {
  flex: 1;
  overflow: hidden;
  padding: 10px;
}
.product-info h1 {
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-info p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    flex: 50%;
  }
  .product {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
  }

  .product img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .product-info h3 {
    font-size: 1rem;
  }
  .product-info p {
    font-size: 0.9rem;
    -webkit-line-clamp: 6;
  }
}

.footer {
  text-align: center;
  padding: 20px;
  background: #343a40;
  color: white;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 20px;
    background: #343a40;
    color: white;
    margin-top: 40px;
  }
}
